<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL CARNAL</title>
</head>

<body>
    <%- include('add/style.ejs') %>

    <header style="margin-top: 5%;">
        <h1>Tacos EL CARNAL...</h1>
        <h2> Desde 2022</h2>
        <img src="Tacos EL CARNAL.png" alt="Logo TACOS EL CARNAL">
    </header>
    
<section>
    
        <nav>
            <div id="orden"></div>
        </nav>
        <main>
            <div>
                <span><%= titulo %></span>
                <ul>
                <li><strong>Bisteck: </strong><%= orden.bisteck %></li>
                <li><strong>Pastor: </strong><%= orden.pastor %></li>
                <li><strong>Chorizo: </strong><%= orden.chorizo %></li>
                <li><strong>Asada: </strong><%= orden.asada %></li>
                <li><strong>Carnitas: </strong><%= orden.carnitas %></li>
                <li><strong>Nombre: </strong><%= orden.nombre %></li>
                <li><strong>Direccion: </strong><%= orden.direccion %></li>
                </ul>
            </div>
        </main>

    <a href="/Lab17">
        <button class="button">Menú</button>
    </a>
    <br>
    <a href="/Lab17/ordenar">
        <button class="button">Pedir de nuevo</button>
    </a>
</section>

</body>

</html>