<%- include('add/header.ejs') %>


    <header style="margin-top: 5%;">
        <h1>Tacos EL CARNAL...</h1>
        <h2> Desde 2022</h2>
        <img src="Tacos EL CARNAL.png" alt="Logo TACOS EL CARNAL">
    </header>

    <section>

        <nav>
            <div id="orden"></div>
        </nav>
        <main>
            <div>
                <span>
                    <%= titulo %>
                </span>
                <ul>
                    <li><strong>Bisteck: </strong>
                        <%= orden.bisteck %>
                    </li>
                    <li><strong>Pastor: </strong>
                        <%= orden.pastor %>
                    </li>
                    <li><strong>Chorizo: </strong>
                        <%= orden.chorizo %>
                    </li>
                    <li><strong>Asada: </strong>
                        <%= orden.asada %>
                    </li>
                    <li><strong>Carnitas: </strong>
                        <%= orden.carnitas %>
                    </li>
                    <li><strong>Nombre: </strong>
                        <%= orden.nombre %>
                    </li>
                    <li><strong>Direccion: </strong>
                        <%= orden.direccion %>
                    </li>
                </ul>
            </div>
        </main>

        <a href="/tacos">
            <button class="button">Menú</button>
        </a>
        <br>
        <a href="/tacos/ordenar">
            <button class="button">Pedir de nuevo</button>
        </a>
    </section>

    <%- include('add/footer.ejs') %>