<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL CARNAL</title>
</head>

<body>
    <header>
        <h1>Tacos EL CARNAL...</h1>
        <h2> Desde 2022</h2>
    </header>
    <img src="Tacos EL CARNAL.png" alt="Logo TACOS EL CARNAL">

    <nav>
        <div id="orden"></div>
    </nav>
    <main>
        <div>
            <span><%= titulo %></span>
            <ul>
            <li><strong>Bisteck: </strong><%= bisteck %></li>
            <li><strong>Pastor: </strong><%= pastor %></li>
            <li><strong>Chorizo: </strong><%= chorizo %></li>
            <li><strong>Asada: </strong><%= asada %></li>
            <li><strong>Nombre: </strong><%= nombre %></li>
            <li><strong>Direccion: </strong><%= direccion %></li>
            </ul>
        </div>
    </main>
    <a href="/Lab12">
        <button>Menú</button>
    </a>
    <a href="/Lab12/ordenar">
        <button>Pedir de nuevo</button>
    </a>

</body>

</html>